/*  
Created by: Scott Lipchitz
Date: 1/13/2020
    
Notes:
Need to make new css for different sized screens (Phone, Tablet?, Large?)
Using tables currently, may swap to divs and lists, which will need to be updated on this side as well
*/

/* Standard Page Formatting and Font */
body{
    font-size: 16;
    color: #333333;
    background-image: linear-gradient(to right, lightsteelblue , lightgrey);
}

.wrapper{
    min-width: 800px;
    max-width: 800px;
    margin: 0 auto;
    background-color: whitesmoke;
}

.wrapper_contact{
    display: inline-block;
    min-width: 770px;
    max-width: 770px;
    background-color: lightsteelblue;
}

/* Page Organizing Table OLD */
.pagetable{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

/* Header */
.header{
    display: inline-block;
    min-width: 770px;
    max-width: 770px;
    vertical-align: middle;
    text-align: center;
    color: #FF0000;
    background-color: #550000;
    padding: 15px;
    margin:  0px;
}

/* height fixes for divs */
.headerrow, .navbarrow, .footerrow{
    height: fit-content;
    display: inline-block;
    min-width: 800px;
    max-width: 800px;
}

.sticky {
    position: fixed;
    top: 0;
    min-width: 800px;
    max-width: 800px;
    opacity: 0.9;
}

/* align content in row to top of row */
.vertical_top{
    vertical-align: top;
}
.informrow_home{
    display: inline-block;
    min-width: 770px;
    max-width: 770px;
    background-color: peachpuff;
}
.informrow_contact{
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
}
 /* Add spacer under nav bar */
.spacerrow{
    display: inline-block;
    min-width: 770px;
    max-width: 770px;
    height: 20px;
}
.wrapper_job{
    display: inline-block;
    min-width: 770px;
    max-width: 770px;
    background-color: lightgreen;
}

.homeLinks:link{
    text-decoration: none;
    font-weight: bold;
    color: #550000;
}

.homeLinks:visited{
    color: #550000;
}

.homeLinks:hover{
    color: #990000;
}

/* center align any columns */
.centercol{
    text-align: center;
}

/* Navigation Bar */
.navbar{
    text-align: center;
    float: left;
}

.navbarlist{
    display: inline-block;
    min-width: 800px;
    max-width: 800px;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
}

/* Navigation Bar Item*/
a.navitem:link{
    text-decoration: none;
    color: lightgray;
    background-color: black;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px black solid;
}
a.navitem:visited{
    color: lightgray;
    background-color: black;
    border: 3px black solid;
}
a.navitem:hover{
    background-color: #550000;
}
a.navitem:active{
    background-color: #550000;
}

.padding{
    padding-left: 15px;
    padding-right: 15px;
}

.resume_hr{
    width: 90%;
    border: 2px outset darkred;
}

.resumeItem{
    margin-left: 15px;
}

.resumeTechList{
    margin: 0;
    display: inline-block;
    width: 70px;
    vertical-align: top;
    list-style-type: circle;
    margin-left: 5%;
}

.resumeTechListRight{
    margin: 0;
    display: inline-block;
    width: 500px;
    vertical-align: top;
    list-style-type: none;
}
/* Footer */
.footer{
    margin: 0;
    text-align: center;
    background-color: black;
    font-size: 12;
    color: lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.footerLink:link{
    color: rgb(221, 60, 60);
}
a.footerLink:hover{
    color: rgb(221, 60, 60);
}
a.footerLink:visited{
    color: rgb(221, 60, 60);
}
a.footerLink:active{
    color: rgb(221, 60, 60);
}

/* image on home page */
.portraitrow{
    float: left;
    margin: 5px;
    border: groove;
}
.portrait{
    width: 300px;
    height: 300px;
}

.portfolioItemOdd{
    display: inline-block;
    min-width: 770px;
    max-width: 770px;
    padding-top: 20px;
    background-color: palegoldenrod;
    height: 25%;
}
.portfolioItemEven{
    display: inline-block;
    min-width: 770px;
    max-width: 770px;
    padding-top: 20px;
    background-color: paleturquoise;
    height: 25%;
}

/* Images on portfolio page */
a.thumbnail:link{
    float: left;
    padding-right: 10px;
}
.thumbnailimage{
    width: 130px;
    height: 150px;
}
.thumbnailimage:hover{
    transform: scale(2.5);
    margin-left: 100px;
}

/* Contact Form */
.label_f1{ /* input labels */
    display: inline-block;
    font-size: 1.5em;
}

.input_f1{ /* input fields */
    min-width: 200px;
    display: inline-block;
    font-size: 2em;
}

.textarea_f1{ /* message text area */
    display: inline-block;
    font-size: 2em;
}

.sendbutton{
    transform: scale(1.5);
}

.centerbutton{
    text-align: center;
}