/*  
Created by: Scott Lipchitz
Date: 1/13/2020
*/

/* ~~~~~~~~~~~~~~~ Standard Page Formatting and Font ~~~~~~~~~~~~~~~ */
body{
    font-size: 1.3em;
    color: #333333;
    background-image: linear-gradient(to right, lightsteelblue , lightgrey);
}

/* ~~~~~~~~~~~~~~~ Title Objects ~~~~~~~~~~~~~~~ */
h2{
    margin: 0;
    margin-top: 10px;
}
h3{
    margin: 0;
}
h4{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.3em;
}
h5{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.1em;
}
h6{
    margin: 0;
    font-weight: bold;
    font-size: 1em;
}
span{
    color: #B90000;
}

/* ~~~~~~~~~~~~~~~ Single Adjustments ~~~~~~~~~~~~~~~ */

.vertical_top{ /* align content in row to top of row */
    vertical-align: top;
}

.padding{ /* Add padding to both sides but not top or bottom */
    padding-left: 15px;
    padding-right: 15px;
}

/* ~~~~~~~~~~~~~~~ Change Width to match screen size ~~~~~~~~~~~~~~~ */
.setWidth{
    min-width: 800px;
    max-width: 800px;
}
.setWidthPadding{
    min-width: 770px;
    max-width: 770px;
}

@media screen and (max-width: 767px) {
    /* ALL < TABLET */
    .setWidth{
        min-width: 500px;
        max-width: 500px;
    }
    .setWidthPadding{
        min-width: 470px;
        max-width: 470px;
    }
    body{
        font-size: 1.1em;
    }
}

/* ~~~~~~~~~~~~~~~ Wrappers for sections on pages ~~~~~~~~~~~~~~~ */
.wrapper{ /* Page Wrapper */
    margin: 0 auto;
    background-color: whitesmoke;
}

.headerrow, .navbarrow, .footerrow{ /* height fixes for divs */
    height: fit-content;
    display: inline-block;
}

.wrapper_introhome{ /* Home Page Top Section */
    display: inline-block;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sticky + .wrapper_introhome { /* Prevent nav bar from gettign stuck */
  padding-top: 60px;
}

.portraitrow{ /* Home Page Image */
    float: left;
    margin: 5px;
    margin-right: 10px;
    border: 2px #550000 groove;
}

.wrapper_job{ /* Home Page Middle Section */
    display: inline-block;
    border-top: 5px #550000 groove;
    border-bottom: 5px #550000 groove;
    background-color: cadetblue;
}

.wrapper_contact{ /* Home Page Bottom Section */
    display: inline-block;
    background-color: whitesmoke;
}

.wrapper_contactform{ /* Home Page Bottom Form */
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
}

.wrapper_resume{
    display: inline-block;
}
.sticky + .wrapper_resume { /* Prevent nav bar from gettign stuck */
  padding-top: 60px;
}

.resumeItem{  /* Resume Page */
    margin-left: 15px;
    padding-right: 10px;
}

.portfolioItemOdd{ /* Portfolio Page Odd Sections */
    display: inline-block;
    padding-top: 20px;
    background-color: whitesmoke;
}
.portfolioItemEven{ /* Portfolio Page Even Sections */
    display: inline-block;
    padding-top: 20px;
    background-color:  cadetblue;
    border-top: 5px #550000 groove;
    border-bottom: 5px #550000 groove;
}
.sticky + .portfolioItemOdd { /* Prevent nav bar from gettign stuck */
  padding-top: 60px;
}

/* ~~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~ */
.header{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #FF0000;
    background-color: #550000;
    padding: 15px;
    margin:  0px;
}

/* ~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~ */
.footer{
    margin: 0;
    text-align: center;
    background-color: black;
    font-size: 12;
    color: lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* ~~~~~~~~~~~~~~~ Navigation Bar ~~~~~~~~~~~~~~~ */
.sticky { /* Makes navbar stick to top of page */
    position: fixed;
    top: 0;
    min-width: 800px;
    max-width: 800px;
    opacity: 0.9;
}
@media screen and (max-width: 767px) {
    .sticky { /* Makes navbar stick to top of page */
        min-width: 500px;
        max-width: 500px;
    }
}

.navbar{  /* Nav Bar List Items */
    text-align: center;
    float: left;
}

.navbarlist{  /* Nav Bar List */
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
}

/* ~~~~~~~~~~~~~~~ Links ~~~~~~~~~~~~~~~ */
/* Navigation Bar Links*/
a.navitem:link{
    text-decoration: none;
    color: lightgray;
    background-color: black;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px black solid;
}
a.navitem:visited{
    color: lightgray;
    background-color: black;
    border: 3px black solid;
}
a.navitem:hover{
    background-color: #550000;
}
a.navitem:active{
    background-color: #550000;
}

 /* Links on home Page */
.homeLinks:link{
    text-decoration: none;
    font-weight: bold;
    color: #550000;
}

.homeLinks:visited{
    color: #550000;
}

.homeLinks:hover{
    color: #990000;
}

/* Links in footer */
a.footerLink:link{
   color: rgb(221, 60, 60);
}
a.footerLink:hover{
   color: rgb(221, 60, 60);
}
a.footerLink:visited{
   color: rgb(221, 60, 60);
}
a.footerLink:active{
   color: rgb(221, 60, 60);
}

.resume_hr{  /* Seperators for resume page */
    width: 90%;
    border: 2px outset #550000;
}

.resumeTechList{ /* Left Side of list on resume page */
    margin: 0;
    display: inline-block;
    width: 100px;
    vertical-align: top;
    list-style-type: circle;
    margin-left: 5%;
}

.resumeTechListRight{ /* Left Side of list on resume page */
    margin: 0;
    display: inline-block;
    width: 500px;
    vertical-align: top;
    list-style-type: none;
}

@media screen and (max-width: 767px) {
    .resumeTechList{ /* Left Side of list on resume page */
        width: 70px;
        margin-left: 5%;
    }
    
    .resumeTechListRight{ /* Left Side of list on resume page */
        width: 200px;
    }
}

/* ~~~~~~~~~~~~~~~ Images ~~~~~~~~~~~~~~~ */
.portrait{ /* Portrait on Home Page*/
    width: 235px;
    height: 283px;
}
.thumbnailimage{ /* Thumbnails on Portfolio page */
    width: 130px;
    height: 150px;
}
.thumbnailimage:hover{ /* Hover fpr thumbnails on Portfolio page */
    transform: scale(2.5);
    margin-left: 100px;
}

a.thumbnail:link{/* Links for thumbnails on Portfolio page */
    float: left;
    padding-right: 10px;
}
.thumbnail_long{ /* Thumbnails on Portfolio page */
    width: 180px;
    height: 120px;
}
.thumbnail_long:hover{ /* Hover fpr thumbnails on Portfolio page */
    transform: scale(2.5);
    margin-left: 100px;
}

a.thumbnail_long:link{/* Links for thumbnails on Portfolio page */
    float: left;
    padding-right: 10px;
}

/* ~~~~~~~~~~~~~~~ Contact Form ~~~~~~~~~~~~~~~ */
.label_f1{ /* input labels */
    display: inline-block;
    font-size: 1.25em;
}

.input_f1{ /* input fields */
    min-width: 200px;
    display: inline-block;
    font-size: 1.25em;
}

.textarea_f1{ /* message text area */
    min-width: 320px;
    height: 4em;
    display: inline-block;
    font-size: 1.25em;
}

.sendbutton{ /* Send button */
    transform: scale(1.5);
}

.centerbutton{ /* Send Button Holder */
    text-align: center;
}